@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Jost";
    font-weight: 500;
    color: #000;
    font-size: 32px;
}

.logo {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.headline {
    width: 100%;
    background-color: #000;
    height: 4px;
    margin-top: 5px;
}

.gallery {
    position: absolute;
    padding-top: 43px;
    padding-left: 2.64%;
    display: flex;
    z-index: 2;
}

.thumbnails {
    display: flex;
    flex-direction: column;
    gap: 47px;
    margin-right: 2.22%;
}

.thumbnails img {
    width: 160px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
}

.thumbnails img:hover {
    border: 2px solid #000;
}

.main-image img {
    width: 700px;
    height: 700px;
}


.logov {
    position: absolute;
    padding-left: 65%;
    margin-top: 43px;
}

.sizes {
    position: absolute;
    padding-left: 65%;
    padding-top: 148px;
    z-index: 1;
}

.small {
    font-family: 'jost';
    width: 120px;
    height: 40px;
    border-radius: 30px;
    background-color: white;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    transition: 500ms ease all;
}

.small:focus {
    background-color: #000;
    color: white;
    transition: 500ms ease all;
}

.mid {
    font-family: 'jost';
    width: 120px;
    height: 40px;
    border-radius: 30px;
    background-color: white;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    transition: 500ms ease all;
}

.mid:focus {
    background-color: #000;
    color: white;
    transition: 500ms ease all;
}

.large {
    font-family: 'jost';
    width: 120px;
    height: 40px;
    border-radius: 30px;
    background-color: white;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    transition: 500ms ease all;
}

.large:focus {
    background-color: #000;
    color: white;
    transition: 500ms ease all;
}

.buy {
    position: absolute;
    padding-left: 67%;
    padding-top: 215px;
}

.gbuy {
    font-family: 'jost';
    position: absolute;
    width: 300px;
    height: 70px;
    border-radius: 30px;
    background-color: white;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}
